*{
	font-family: "Verdana";
}

h1{
	font-family: 'Anton', sans-serif;
	color: #414239;
	font-size: 4em;
}

div>h3{
	font-family: 'Lobster', cursive;
	color: #9e0947;
	font-size: 2.5em;
}

img{
	max-width: 100%;
	max-height:50;
	opacity: 1.0;
	filter: alpha(opacity=100);
}

img:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}

div.tit_img{
	width: 20%;
	height: 10%;
	margin: .8em .5em .8em .5em;
}

div.Sinopsis{
	text-align: justify;
	width: 45%;
	height: 90%;
	margin: 3em .5em 3em .5em;
}

div.reparto{
	margin: 3em .5em 3em .5em;
	font-size: 0.8em;
	width: 10%;
	height: 90%;
}

.cont>div{
	float: left;
}

div.clear{
	clear: both;
}

div.video{
	width: 15%;
	margin-right: auto;
	margin-left: auto;
	margin: 8em .2em 3em .2em;
	height: 90%;
}

li[name="vineta"]{
	list-style-image: url(https://goo.gl/6hPSSH);
}
